@import '../../styles/break-points.scss';

.Vehicles {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: right;
  width: 100%;
  background-color: rgb(239, 255, 250);

  .main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    height: 350px;
  }

  @include tablet {

  }

  @include laptop {

  }

  @include desktop {

  }

  @include desktop-large {

  }
}
